/* resets */

html {
  font: 100%/1.15 sans-serif;
  scroll-behavior: smooth;
}
/* "auto" makes the left and right margins center the wrapper */
#wrap {
	width: 600px;
	margin: 0 auto;
}




body,
figure {
margin: 0;
}

body {
  max-width: 60em; /* 960px (16px = 1em) */
  padding: 1em 1em 1em 1em; /* (clockwise) padding-top,
  padding-right, padding-bottom, padding left */

    margin-left: auto;
  margin-right: auto;
}
body{
font-family:"Times New Roman", serif;
padding: 0 3.5%;
padding: 1.2rem;
margin: 0 auto;
}
header p.summary strong { font-weight: inherit;}






/* responsive images */




img { width: auto;
max-width: 100%;
height: auto;}

/* hero figure/img */
figure.hero {margin: 0 -1.2rem;}
figure.hero img {margin-top: 3em;}
figure.hero figcaption {
  margin: .6rem 1.2rem 0;
}
/*typographic details*/
p {
  font-size: 1.3em;
  line-height: 1.5; /* unitless, please! */
}
header {padding-top: 3.5%;
}
header h1 {
  font-family: "Garamond", serif;
  font-size: 2.5rem;
  font-weight: normal;
  word-spacing: -.075em;
  margin-top: 0;
  margin-bottom: 0;
}

p.byline {font-weight: bold;
text-transform: uppercase;}
/* navigation */

/*links*/

a:hover { color: blue;
}
a:focus
a:active {color: green;}
